/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Helpers */

.grid-container {
  display: grid;
  width: 100%;
  row-gap: 20px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Globales */

html {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 62.5%; /*10px*/
}

body {
  background-image: url(../images/BackgroundLight.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: relative;
}

h1 {
  text-align: center;
  font-size: 4.8em;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 3.2em;
  margin-bottom: 3.2rem;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.6em;
}

.container {
  border-radius: 6px;
  background-color: rgba(223, 222, 221, 0.52);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 4px 30px rgba(141, 141, 141, 0.35);
  color: black;
  margin: 0 3.2rem;
  padding: 4.8rem;
}

.button {
  box-sizing: border-box;
  text-decoration: none;
  background: linear-gradient(140deg, #1e2a78, #ff2e4c);
  color: white;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1.6em;
  margin: 1.6rem;
}

.button:hover {
  box-shadow: 0 4px 30px rgba(56, 42, 42, 0.4);
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.089);
  z-index: 5;
  width: 100%;
  top: 0;
}

.nav__img {
  height: 48px;
  width: 200px;
  margin-left: 1.6rem;
}

.nav__list {
  justify-content: flex-end;
  list-style-type: none;
}

.nav__item {
  font-size: 1.6em;
}

.nav__item-link {
  margin: 3.2rem;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  justify-content: space-between;
  padding: 0 3.2rem;
  align-items: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.089);
}

.gradient {
  background: linear-gradient(140deg, #1e2a78, #ff2e4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nosotros,
.contacto,
.servicios,
.galeria {
  text-align: center;
  /* margin-top: 8rem; */
  justify-content: space-between;
}

.contacto__title,
.galeria__title {
  margin-bottom: 4.8rem;
}

/* Grid areas comunes */

.header {
  grid-area: header;
}

.contenido {
  grid-area: contenido;
}

.footer {
  grid-area: footer;
}

/* Inicio */

.index {
  grid-template-areas:
    'header header'
    'hero hero'
    'nosotros servicios'
    'contacto contacto'
    'footer footer';
  grid-template-rows: auto auto auto auto 4.8rem;
  grid-template-columns: 1fr 1fr;
}

.nosotros {
  grid-area: nosotros;
}

.servicios {
  grid-area: servicios;
}

.contacto {
  grid-area: contacto;
}

/* Inicio */

/* Inicio__Hero */

.index .inicio {
  grid-area: hero;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.index .inicio__title {
  font-family: 'Public Sans', Arial, sans-serif;
  color: black;
  margin: 4.8rem 0;
  font-size: 3.2em;
}

.index .inicio__img {
  width: 60%;
}

/* Inicio__Nosotros e Inicio__Servicios*/

.index .nosotros,
.index .servicios {
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
}

.index .nosotros__text {
  text-align: justify;
}

.index .servicios__subtitle {
  margin: 0;
}

.index .servicios__items {
  justify-content: space-between;
}

.index .servicios__item-text {
  font-weight: semibold;
  font-size: 2.4em;
  text-align: center;
}

/* Inicio__Contacto y Contacto */

.contacto__container {
  justify-content: space-around;
  text-align: left;
  gap: 10px;
}

.contacto__form {
  justify-content: space-between;
  align-items: center;
}

.contacto__article {
  justify-content: space-between;
  align-items: flex-start;
}

picture img {
  height: 254px;
  width: 450px;
}

.contacto__icon {
  width: 40px;
  height: auto;
  border-radius: 6px;
}

.contacto__input,
.contacto__textarea,
.contacto__button {
  width: 48rem;
  padding: 1.2rem 2rem;
  box-sizing: border-box;
  border: 2px solid #1e2a78;
  background: transparent;
  color: black;
  border-radius: 6px;
}

.contacto__button {
  background: linear-gradient(140deg, #1e2a78, #ff2e4c);
  color: white;
}

.contacto__input::placeholder {
  background: linear-gradient(140deg, #1e2a78, #ff2e4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacto__textarea {
  height: 30rem;
}

.contacto__textarea::placeholder {
  background: linear-gradient(140deg, #1e2a78, #ff2e4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacto__button {
  cursor: pointer;
  border: none;
}

.contacto__button:hover {
  box-shadow: 0 4px 30px rgba(56, 42, 42, 0.4);
}

/* Servicios */

.servicios {
  grid-template-areas:
    'header'
    'contenido'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 4.8rem;
  min-height: 100vh;
}

.servicios__contenido__item {
  margin: 0 3.2rem;
  padding: 3.2rem;
  text-align: left;
}

.servicios__contenido__text {
  text-align: justify;
}

.servicios__contenido__summary {
  font-size: 3.2em;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

.servicios__contenido__summary:hover {
  cursor: pointer;
}

/* Galeria */

.galeria {
  grid-template-areas:
    'header'
    'contenido'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 4.8rem;
}

.galeria__contenido__container {
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 90%vw;
}

.galeria__contenido__img {
  margin: 1.6rem;
  width: 200px;
  max-height: 200px;
  box-sizing: border-box;
  border-radius: 6px;
}

/* Nosotros */

.nosotros {
  grid-template-areas:
    'header'
    'contenido'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 4.8rem;
}

.nosotros__contenido__item {
  margin: 0 3.2rem;
  padding: 3.2rem;
}

.nosotros__contenido__text {
  text-align: center;
}

/* Contacto */

.contactanos {
  grid-template-areas:
    'header'
    'contacto'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 4.8rem;
}

/* Media Queries */

@media screen and (max-width: 1018px) {
  .index {
    grid-template-areas:
      'header'
      'hero'
      'nosotros'
      'servicios'
      'contacto'
      'footer';
    grid-template-rows: auto auto auto auto auto 4.8rem;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  .nosotros,
  .contacto,
  .servicios,
  .galeria {
    margin-top: 8rem;
  }

  .servicios__contenido__summary {
    font-size: 1.6em;
    margin: 2rem 0;
  }

  .servicios__contenido__item {
    margin: 0;
    padding: 0;
  }

  .nav {
    flex-direction: column;
  }

  .nav__item-link {
    margin: 0;
  }

  .nav__list {
    gap: 10px;
  }

  .contacto__container {
    flex-direction: column;
    gap: 50px;
  }

  .contacto__textarea {
    height: 18rem;
  }

  .contacto__article {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .contacto__redes,
  .contacto__datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  picture img {
    display: none;
  }

  .contacto__input,
  .contacto__textarea,
  .contacto__button {
    width: 100%;
  }

  .galeria__contenido__img {
    margin: 1.4rem;
    width: 150px;
    max-height: 150px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.8em;
    margin-bottom: 1.8rem;
  }

  h3,
  .servicios__contenido__summary {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
  }

  .nav__img {
    margin-left: 0;
  }

  .nav__list {
    display: none;
  }

  .nav__list {
    gap: 8px;
  }

  .contacto__container {
    flex-direction: column;
    gap: 50px;
  }

  .contacto__textarea {
    height: 18rem;
  }

  .contacto__article {
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .contacto__redes,
  .contacto__datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  picture img {
    display: none;
  }

  .contacto__input,
  .contacto__textarea,
  .contacto__button {
    width: 100%;
  }
}
